In [18]:
# import library
from sklearn.datasets import load_iris

# Store the imported dataset in iris_dataset
iris_dataset = load_iris()

In [21]:
# Table the acquired dataset with pandas
import pandas as pd

iris_dataframe = pd.DataFrame(data=iris_dataset.data, columns=iris_dataset.feature_names)

# add colomn.Name
iris_dataframe["Name"] = pd.Series(iris_dataset.target)
 
# apply the type name of iris to column.Name
iris_dataframe["Name"] = iris_dataframe["Name"].apply(lambda x: iris_dataset.target_names[x])

# output table
iris_dataframe

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Name
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [20]:
# Extract setosa data, display summary statistics such as mean and standard deviation.
setosa = iris_dataframe[iris_dataframe['Name']=='setosa']
setosa.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,50.00000,50.000000,50.000000,50.000000
mean,5.00600,3.428000,1.462000,0.246000
std,0.35249,0.379064,0.173664,0.105386
min,4.30000,2.300000,1.000000,0.100000
25%,4.80000,3.200000,1.400000,0.200000
50%,5.00000,3.400000,1.500000,0.200000
75%,5.20000,3.675000,1.575000,0.300000
max,5.80000,4.400000,1.900000,0.600000